<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/enter_password.css' %}">

</head>
<body>
    <h1>Enter the archive password</h1>
    {% if msg %}
        <div id="msg">
            {{ msg }}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        Password: <br>
        <input type="password" name="password" id="password">
    <button type="submit">Submit Password</button>
</form>
</body>