{% extends 'general.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_extra %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ meta_desc }}">
        {% block extra_css %}
            <link rel="stylesheet" href="{% static 'css/index.css' %}">
            <link rel="stylesheet" href="{% static 'css/general.css' %}">
        {% endblock %}
    {% endblock %}
</head>
<body>
    {% block content %}
    <div id="soon">
        Desktop App is coming soon! Enjoy the web version while you wait
    </div>
    <div id="begin">
        <h1>Convert Archive Files Online</h1>
        <p id="intro">
            Upload your archive and instantly view or convert it to ZIP — without downloading any software.
        </p>
        <a href="{% url 'upload' %}" id="start">
            Try It Out | &gt;
        </a>
    </div>
    <style>
        #begin {
            background-image: url("{% static 'img/space.png' %}");
        }
    </style>
    {% endblock %}
</body>
</html>
